@import "tailwindcss";

* {

  box-sizing: border-box;
}
html {
  scroll-behavior: auto !important;
}

body {
  background-color: #e6e6e6 ;
  overflow-x: hidden;
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 2px black;
    color: transparent;
  }
}
.title2 {
  font-family: var(--font-integrated), sans-serif;
  text-transform: none;
}


.title3 {
  font-family: var(--font-anton), sans-serif;
  font-weight: 400;
  letter-spacing: -.04em;

    line-height: .9;
}.title4 {
  font-family: var(--font-helvetica), sans-serif;
  text-transform: none;

}
